In [19]:
import numpy as np
import pandas as pd
import matplotlib as plt
import json

La = "Resources/ladwp-water-supply-in-acre-feet.csv"
Cali = "Resources/cal_water_use.csv"

la_df = pd.read_csv(La)
Cali_df = pd.read_csv(Cali)

la_df.head()

,State Code,State Name,County Code,County Name,Year,"Total Population total population of area, in thousands","Public Supply population served by groundwater, in thousands","Public Supply population served by surface water, in thousands","Public Supply total population served, in thousands","Public Supply self-supplied groundwater withdrawals, fresh, in Mgal/d",...,"Irrigation, Crop self-supplied groundwater withdrawals for crops, fresh, in Mgal/d","Irrigation, Crop self-supplied surface-water withdrawals for crops, fresh, in Mgal/d","Irrigation, Crop total self-supplied withdrawals for crops, fresh, in Mgal/d","Irrigation, Crop consumptive use for crops, fresh, in Mgal/d","Irrigation, Crop conveyance loss for crops, in Mgal/d","Irrigation, Crop sprinkler irrigation for crops, in thousand acres","Irrigation, Crop microirrigation for crops, in thousand acres","Irrigation, Crop surface irrigation for crops, in thousand acres","Irrigation, Crop total irrigation for crops, in thousand acres","Irrigation, Crop reclaimed wastewater for crops, in Mgal/d"
0,6,California,1,Alameda County,1985,1195.160,185.95,967.16,1153.110,31.58,...,-,-,-,-,-,-,-,-,-,-
1,6,California,1,Alameda County,1990,1279.180,109.37,1142.44,1251.810,23.83,...,-,-,-,-,-,-,-,-,-,-
2,6,California,1,Alameda County,1995,1347.700,165.83,1162.82,1328.650,31.05,...,-,-,-,-,-,-,-,-,-,-
3,6,California,1,Alameda County,2000,1443.740,152.46,1114.42,1266.880,26.70,...,6.5,11.5,18,-,-,0,5.4,2.1,7.5,-
4,6,California,1,Alameda County,2005,1448.905,477.712,955.782,1433.494,52.19,...,-,-,-,-,-,-,-,-,-,-

In [20]:
Cali_df.head()

,State Code,State Name,County Code,County Name,Year,"Total Population total population of area, in thousands","Public Supply population served by groundwater, in thousands","Public Supply population served by surface water, in thousands","Public Supply total population served, in thousands","Public Supply self-supplied groundwater withdrawals, fresh, in Mgal/d",...,"Irrigation, Crop self-supplied groundwater withdrawals for crops, fresh, in Mgal/d","Irrigation, Crop self-supplied surface-water withdrawals for crops, fresh, in Mgal/d","Irrigation, Crop total self-supplied withdrawals for crops, fresh, in Mgal/d","Irrigation, Crop consumptive use for crops, fresh, in Mgal/d","Irrigation, Crop conveyance loss for crops, in Mgal/d","Irrigation, Crop sprinkler irrigation for crops, in thousand acres","Irrigation, Crop microirrigation for crops, in thousand acres","Irrigation, Crop surface irrigation for crops, in thousand acres","Irrigation, Crop total irrigation for crops, in thousand acres","Irrigation, Crop reclaimed wastewater for crops, in Mgal/d"
0,6,California,1,Alameda County,1985,1195.160,185.95,967.16,1153.110,31.58,...,-,-,-,-,-,-,-,-,-,-
1,6,California,1,Alameda County,1990,1279.180,109.37,1142.44,1251.810,23.83,...,-,-,-,-,-,-,-,-,-,-
2,6,California,1,Alameda County,1995,1347.700,165.83,1162.82,1328.650,31.05,...,-,-,-,-,-,-,-,-,-,-
3,6,California,1,Alameda County,2000,1443.740,152.46,1114.42,1266.880,26.70,...,6.5,11.5,18,-,-,0,5.4,2.1,7.5,-
4,6,California,1,Alameda County,2005,1448.905,477.712,955.782,1433.494,52.19,...,-,-,-,-,-,-,-,-,-,-

In [9]:

Recycle = len(la_df["Recycled Water"].unique())
Date = len(la_df["Date Value"].unique())
la_df = pd.DataFrame({"Recycled Water": [Recycle], "Date Value": [Date]})
la_df["Recycled"] = la_df["Recycled Water"].map("${:.2f}".format)

la_df.head()

   Recycled Water  Date Value Recycled
0               1           1    $1.00